{% macro render_array(value, inline) %}
    {% from _self import render_array %}
    {% for key, val in value %}
        {% if val.timestamp is defined %}
            [{{ key }} => {{ val|date }}]
        {% elseif val is iterable %}
            [{{ key }} => {{ render_array(val, inline) }}]
        {%  else %}
            [{{ key }} => {{ val }}]
        {%  endif %}

        {% if not loop.last and not inline %}
            <br>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block batch_time_widget %}
    {% apply spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <div class="col-md-3">
                {{ form_row(form.day) }}
            </div>
            <div class="col-md-9">
                {{ form_row(form.time) }}
            </div>
        </div>
    {% endapply %}
{% endblock batch_time_widget %}

{% block gender_widget %}
    {% apply spaceless %}
        {% if expanded %}
            <ul {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <li>
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {{ block('choice_widget') }}
        {% endif %}
    {% endapply %}
{% endblock %}

{% block output_widget %}
    {% import _self as helper %}

    {% apply spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' output'}) %}
        <div {{ block('widget_attributes') }}>
            {% if value is iterable %}
                {{ helper.render_array(value, false) }}
            {% else %}
                {{ value|default('') }}
            {% endif %}
        </div>
    {% endapply %}
{% endblock %}

{% block date_output_widget %}
    {% apply spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' output'}) %}
        <div {{ block('widget_attributes') }}>{% if value %}{{ value|format_date }}{% else %}{{ defaultValue }}{% endif %}</div>
    {% endapply %}
{% endblock %}

{% block file_widget %}
    {{ block('form_widget_simple') }}
    {% apply spaceless %}
        {% if image_url is defined and image_url is not null %}
            <img src="{{ asset(image_url) }}" />
        {% endif %}
        {% if download_path is defined and download_path is not null %}
            <a href="{{ asset(download_path) }}" target="_blank" class="btn btn-primary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                {{ 'download_file'|trans({}, 'NucleosFormBundle') }}
            </a>
        {% endif %}
    {% endapply %}
{% endblock %}

{% block core23_autocomplete_widget %}
    {% set attr = attr|merge({
        'data-autocomplete': {
            'ajaxRoute': path(route_name),
            'text': text|default(''),
        }|json_encode,
        'placeholder': empty_value|trans({}, translation_domain)
    }) %}
    {{ block('form_widget') }}
{% endblock %}
